*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/bg-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.todolist{
    background-color: rgba(0,0,0,0.1);
    width: 400px;
    min-height: 60vh;
    border-radius: 15px;
    padding: 20px;
}

.todolist h2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.todolist h2 img{
    width: 40px;
    height: 40px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
}

.row input{
     width: 75%;
     padding: 4px 15px;
     border-radius: 5px;
     border: none;
     outline: none;
     background: transparent;
     border: 1px solid rgba(0,0,0,0.2);
     font-size: 18px;
}

.row input::placeholder{
    font-size: 15px;
}

.row button{
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(128, 0, 128, 0.7);
}

.list-container{
    padding: 15px 0 0 ;
}

.list-container ul li{
    list-style-type: none;
    user-select: none;
    padding: 15px 0 0 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.list-container ul li::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: none;
    top: 15px;
    left: 8px;
}

.list-container ul li.checked{
    color: #555;
    text-decoration: line-through;
}

.list-container ul li.checked::before{
    background-image: url(img/checked.png);
}

.edit-btn{
    background-color: rgba(15, 136, 15, 0.7); 
    color: white; 
    border: none; 
    padding: 3px 10px;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 70px;
    top: 10px;
}

.delete-btn{
    background-color: rgba(255, 0, 0, 0.7); 
    color: white; 
    border: none; 
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 10px;
}







@media only screen and (max-width:600px){

    .todolist {
        width: 300px;
        min-height: 50vh;
    }

    .todolist h2 {
        font-size: 18px;
    }
    
    .todolist h2 img{
        width: 30px;
        height: 30px;
    }

    .row input {
        width: 65%;
        font-size: 16px;
    }

    .row button {
        font-size: 12px;
    }

    .list-container ul li::before {
        width: 15px;
        height: 15px;
        top: 8px;
        left: 8px;
    }
    
    .list-container ul li {
        font-size: 14px;
        padding: 8px 4px 2px 30px;
    }

    .edit-btn {
        font-size: 12px;
        position: absolute;
        right: 50px;
        top: 5px;
        padding: 3px 8px;
        font-weight: normal;
        
    }

    .delete-btn {
        font-size: 12px;
        padding: 3px 6px;
        font-weight: normal;
        top: 4px;
    }


}